{% extends 'base.html' %}
{% block title %}
Issue Tracker
{% endblock %}

{% block page_title %}
Issue Tracker
{% endblock %}

{% block content %}
<h3>Recent Activity</h3>
{% if not projects %}
<p>No recent activity found.</p>
{% endif %}

{% for project in projects %}
<h3>{{ project.title }}</h4>
<h4>{{ project.description }}</h4>
{% endfor %}

{% for ticket in tickets %}
<h3>{{ ticket.title }}</h4>
<h4>{{ ticket.content }}</h4>
{% endfor %}

{% endblock %}

{% block inline %}
custom.setActive("#index");
{% endblock %}
