{% extends 'base.html' %}
{% block title %}
Tickets
{% endblock %}

{% block page_title %}
Tickets
{% endblock %}

{% block content %}
{% if not tickets %}
<p>No tickets found.</p>
{% endif %}
{% for ticket in tickets %}
<div class="panel panel-default">
    <div class="panel-heading">
        <a href="{{ url_for('ticket_detail', project_id=ticket.project.id, ticket_id=ticket.id) }}">{{ ticket.title }}</a>
        | priority: 
        {% if ticket.current_priority == "low" %}
            <span class="label label-info">{{ ticket.current_priority }}</span>
        {% elif ticket.current_priority == "medium" %}
            <span class="label label-primary">{{ ticket.current_priority }}</span>
        {% else %}
            <span class="label label-danger">{{ ticket.current_priority }}</span>
        {% endif %}
        | last modified on {{ ticket.date_modified }}
        | submitted to <a href="{{ url_for('project_detail', project_id=ticket.project.id) }}">
        {{ ticket.project.title }}</a>
    </div>
    <div class="panel-body">
    {{ ticket.content }} <br>
    </div>
    <ul class="list-group">
        <li class="list-group-item">submitted by <em>{{ ticket.name }}</em> on {{ ticket.date_created }}
        | status:
        {% if ticket.current_status == "closed" %}
            <span class="label label-success">{{ ticket.current_status }}</span>
        {% else %}
            <span class="label label-warning">{{ ticket.current_status }}</span>
        {% endif %}
        | {{ ticket.comments|count }} comments
        </li>
    </ul>
</div>
{% endfor %}
{% endblock %}

{% block inline %}
custom.setActive("#tickets");
{% endblock %}
